* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.history-container {
    height: 90vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.user {
    height: 10vh;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.user-info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 24px; 
}

.clicked,
.user-info:hover {
    background-color: #202123;
}

.img-user {
    margin-right: 20px;
}

.img-user img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.action_menu {
    position: absolute;
    bottom: 104%;
    width: 100%;
    left: 0;
    background-color: #202123;
    border-radius: 10px;
    display: flex;
    transition: opacity 0.5s;
    opacity: 0;
    cursor: pointer;
}

.action_menu ul {
    margin: 0;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 6px 0;
    text-decoration: none;
}

.action_menu li {
    padding: 6px 14px;
    width: 100%;
}

.action_menu li a {
    text-decoration: none;
    color: #fff;
}

.chat-container {
    height: 100vh;
    position: relative;
    padding: 0 8%;
    flex: 1;
}

#body-chat {
    padding: 50px 40px 0;
    overflow: auto;
    height: 85vh;
    padding-top: 40px;
    width: 100%;
    max-width: 100%;
    transition: width 2s ease;
}

#body-chat::-webkit-scrollbar {
    display: none;
    width: 8px;
    /* Chiều rộng thanh cuộn */
    border-radius: 4px;
}

/* Thiết lập màu của thanh cuộn */
#body-chat::-webkit-scrollbar-thumb {
    background-color: #656565;
    border-radius: 10px;
    display: none;
}

.chat-group {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input {
    width: 60%;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    ;
    border: 1px #ccc solid;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.input-group {
    width: 100%;
    height: 50px;
}

#question {
    padding: 4px 10px;
    flex: 1;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    outline: none;
}

.icon {
    position: absolute;
    color: #ccc;
    font-size: 40px;
    top: 40%;
    padding: 10px;
    left: 6px;
    transform: rotate(180deg);
    transition: font-size 0.3s ease-in-out;
}

.rotate-out {
    animation: rotate-out 0.4s ease-in-out;
    transform: rotate(0);
}

.rotate-in {
    animation: rotate-in 0.4s ease-in-out;
    transform: rotate(180);
}

@keyframes rotate-out {
    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes rotate-in {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

.history {
    padding: 0;
    width: 300px;
    transition: opacity 0.3s ease-out;
}

.user-msg {
    color: #fff;
    background-color: #006ce3;
    border-radius: 24px;
    border-bottom-right-radius: 0;
    padding: 10px 10px 10px 16px;
    margin-left: 50px;
    word-break: break-all;
}

.bot-msg {
    color: #303132;
    background-color: #eaeaea;
    border-radius: 24px;
    border-bottom-left-radius: 0;
    padding: 10px 16px 10px 10px;
    margin-right: 50px;
}

.suggest_questions_item {
    color: #000;
    background-color: #eceeff;
    border-radius: 24px;
    border-bottom-right-radius: 0;
    padding: 10px 10px 10px 16px;
}

.header-his {
    height: 80px;
    padding: 16px 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-group {
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.search_btn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373c41;
    padding: 10px 14px;
    color: #fff;
}

.search {
    border: none;
    background-color: #373c41;
    border-radius: 0;
    color: #fff;
    height: 100%;
    padding: 10px 0 10px 12px;
    width: 100%;
    outline: none;
}

.search:focus {
    background-color: #373c41;
    color: #fff;
}


.body-his {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

.history-chat {
    display: block;
    height: 100%;
    margin: 0 16px;
    border-radius: 8px;
    color: #fff;
    padding: 10px 20px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.history-chat:hover {
    background-color: #202123;
    text-decoration: none;
    color: #fff;
}

.sliding-element {
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.hidden {
    transform: translateX(-100%);
}

.add {
    transform: translateX(-384px);
}

.chat-block {
    margin: 14px 0;
}

.slide-in {
    animation: slide-in 0.4s forwards;
}

.slide-out {
    animation: slide-out 0.4s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-25vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-25vw);
    }
}

/* Thiết lập kiểu thanh cuộn */
.body-his::-webkit-scrollbar {
    width: 8px;
    /* Chiều rộng thanh cuộn */
}

/* Thiết lập màu nền cho thanh cuộn */
.body-his::-webkit-scrollbar-track {
    background-color: #242323;
}

/* Thiết lập màu của thanh cuộn */
.body-his::-webkit-scrollbar-thumb {
    background-color: #656565;
    border-radius: 10px;
    transition: background-color 1s ease-in-out;
}

.body-his::-webkit-scrollbar-thumb:hover {
    background-color: #7e7d7d;
}

.user-open {
    animation: user-open 0.3s ease-in-out;
    opacity: 1;
}

.user-close {
    animation: user-close 0.3s ease-in-out;
    opacity: 0;
}

@keyframes user-open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes user-close {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}